@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-Black.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-Black.ttf") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-Italic.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-Italic.ttf") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-SemiBold.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-SemiBold.ttf") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-ExtraLightItalic.ttf")
      format("woff2"),
    url("../../assets/Font/TitilliumWeb-ExtraLightItalic.ttf") format("woff");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-LightItalic.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-LightItalic.ttf") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-ExtraLight.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-ExtraLight.ttf") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-BoldItalic.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-BoldItalic.ttf") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-Regular.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-SemiBoldItalic.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-SemiBoldItalic.ttf") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-Light.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-Light.ttf") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Titillium Web";
  src: url("../../assets/Font/TitilliumWeb-Bold.ttf") format("woff2"),
    url("../../assets/Font/TitilliumWeb-Bold.ttf") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}