$primary-Instock_Black: #13182c;
$primary-Instock_Indigo: #f4991a;
$primary-White: #ffffff;

$secondary-Slate: #5c667e;
$secondary-Cloud: #bdc5d5;

$background-Graphite: #232940;
$background-Light-Grey: #f7f8f9;

$supporting-Green: #158463;
$supporting-Red: #c94515;

////primary colour
$primary-blue: #0095ff;
$primary-black: #323232;
$primary-silver: #afafaf;
$primary-white: #ffffff;

////secondary colour
$secondary-blue: #0065ad;
$secondary-black: #000000;
$secondary-silver: #e1e1e1;
$secondary-white: #fafafa;
