@use "../../styles/partials/font" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.backgroundcolor {
  background-color: #107433;
}

.herobanner {
  background-image: url(../../assets/Images/pureconnect_herobanner2.webp);
  background-position: center;
  height: 45rem;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
.herobanner__divider,
.herobanner__divider2,
.herobanner__divider3 {
  height: 1px;
  background-color: whitesmoke;
  position: relative;
  margin-bottom: 1rem;
}

.herobaner {
  background-color: whitesmoke;
  padding: 1rem;
  width: 100%;
  text-align: center;

  &__heading {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
  }
  &__imagesection {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-left: 1rem;
    }
    img {
      width: 100%;
      @include tablet {
        width: 30%;
      }
    }
  }
}

.herosection {
  background-color: whitesmoke;
  padding: 1rem;
  width: 100%;
  display: flex;

  &__heading1 {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
  }
  &__heading2 {
    font-size: 24px;
    line-height: 2;
    font-weight: bold;
  }
  &__category {
    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding-left: 1rem;
    }
    button {
      margin-left: 24px;
      margin-right: 24px;
      margin-top: 16px;
      padding: 8px 16px 8px 16px;
      border-radius: 20px;
      background-color: brown;
      border-color: brown;
      border-style: none;
      color: white;
    }
    .herosection__images {
      width: 100%;
      @include tablet {
        display: flex;
        flex-direction: column;
        width: 50%;
      }
    }
  }
}
